@font-face {
  font-family: "BigNoodleFont";
  src: url("fonts/BigNoodleToo.ttf") format('ttf');
  }

@font-face {
  font-family: "BigNoodleFont";
  src: url("fonts/BigNoodleToo.woff") format('woff');
  }

body {
    font-family: BigNoodleFont;
    font-size: 350%;
    background-color: #634d41;
    margin-top:1%;
    margin-bottom:1%;
}

p {
    margin-top:3%;
    margin-bottom:3%;
}

div {
    color: #FAA02E;
    margin-top:1%;
    margin-bottom:1%;
}

footer {
    margin-top:10%;
}

a:link {
    color: #FAA02E;
}

a:visited {
    color: #FAA02E;
}

a:hover {
    color: #222222;
}

a:active {
    color: #888888;
}

.spinner {
    position: absolute;
    top: 40%;
    left: 47%;
    width: 2em;
    height: 2em;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
 
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
 
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}
 
@-moz-keyframes spin {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
}
 
@-o-keyframes spin {
    from {-o-transform: rotate(0deg);}
    to   {-o-transform: rotate(359deg);}
}
 
@keyframes spin{
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #222222 url("Revolver.png") no-repeat center center; }
